<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start!: </h2>




<div *ngFor="let item of items">
  <p>
    {{item.snippet.title}}

  </p>
  <p>{{item.snippet.publishedAt}}</p>

  <p>{{item.snippet.description}}</p>

  <img src='https://i.ytimg.com/vi/{{item.contentDetails.videoId}}/hqdefault.jpg' width="480" height="360" />

  <!-- i mignt do the modal link this way -->

  <!-- https://www.youtube.com/watch?v=X0qwQqwKLlM -->

  <!-- <iframe width="560" height="315" src='https://www.youtube.com/embed/{{item.contentDetails.videoId || X0qwQqwKLlM}}' frameborder="0"
    allowfullscreen></iframe> -->

  <!-- <iframe width="560" height="315" [src]='https://www.youtube.com/embed/{{item.contentDetails.videoId || X0qwQqwKLlM}}' frameborder="0"
    allowfullscreen></iframe> -->
  <iframe width="560" height="315" [src]="getEmbedURL(item)" frameborder="0" allowfullscreen></iframe>
</div>






<ul>
  <li>
    <app-thumbnail></app-thumbnail>
    <app-videoplayer></app-videoplayer>
  </li>
  <li>
    <h2>
      <a target="_blank " rel="noopener " href="https://angular.io/tutorial ">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank " rel="noopener " href="https://github.com/angular/angular-cli/wiki ">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank " rel="noopener " href="https://blog.angular.io/ ">Angular blog</a>
    </h2>
  </li>
</ul>